:root {
  /* Default Theme */
  --main-color: #E2CEBB;
  --background-color: #F8E1E0;
  --text-color: #474B3E;
  --accent1: #C97B61;
  --accent2: #78a386;
}

body.dark-theme {
  /* Overriding Variables for Dark Theme */
  --main-color: #797979;
  --background-color: #1B1B1B;
  --text-color: #EAEAEA;
  --accent1: #BB86FC;
  --accent2: #03DAC6;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}