@import 'colors.css';
@import 'navbar.css';
@import 'separator.css';
@import 'dropdown.css';
@import 'about.css';
@import 'tictactoeThumbnail.css';
@import 'tictactoe.css';

html, body {
    height: 100%;
    width: 100%;
  }

.logo {
    width: 90px;
    color: var(--accent1);
 }

 h1, h2, h3, h4, h5, h6 {
    padding: 30px;
    color: var(--text-color);
}

p {
    padding: 30px;
    font-size: larger;
}
