.about-container {
    background-color: var(--main-color);
    color: var(--text-color);
    padding: 20px;
    margin: 50px auto;
    width: 60%;
    border-radius: 10px; 
    text-align: center;
}
.about-container p {
    margin-bottom: 15px; /* Add space below the paragraphs */
}
