<div class="navbar">
    <div class="leftSide">
        <div id="logo-container"></div>
        <h2>Classic Game Nook</h2>
    </div>
    <div class="rightSide">
        <a href="index">Games</a>
        <a href="about">About</a>
        <div class="dropdown">
            <button class="dropbtn" onclick="toggleDropdown()">Theme <i class="arrow down"></i></button>
            <div id="myDropdown" class="dropdown-content">
                <div class='dropdown-item' onclick="onClickTheme('default')">Default</div>
                <div class='dropdown-item' onclick="onClickTheme('dark')">Dark</div>
            </div>
        </div>        
        <a href="#">Log in</a>
    </div>
</div>
