<div class="navbar">
    <div class="leftSide">
        <div id="logo-container"></div>
        <h2>Classic Game Nook</h2>
    </div>
    <div class="rightSide">
        <a href="#">Games</a>
        <a href="#">About Us</a>
        <div class="dropdown">
            <button class="dropbtn" onclick="toggleDropdown()">Dropdown</button> <!-- Call the function here -->
            <div id="myDropdown" class="dropdown-content">
              <a href="#home">Home</a>
              <a href="#about">About</a>
              <a href="#contact">Contact</a>
            </div>
        </div>
        <a href="#">Log in</a>
    </div>
</div>